<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h2>Hello!</h2>
    <h:form>
        <p>Enter your name: </p>
        <h:inputText id="name" value="#{indexBean.name}"/>
        <h:commandButton value="submit" action="#{indexBean.submitGreet}">
            <f:ajax execute="name" render="greet"/>
        </h:commandButton>
        <h:outputText id="greet" value="#{indexBean.greetMessage}" rendered="#{not empty indexBean.greetMessage}"/>
    </h:form>
</f:view>
</html>
